{% extends "ordersapp/base.html" %}

{% block content %}
    <div class="container ">
    {% include 'ordersapp/includes/inc_order_summary.html' %}
    <div class="order text-center">
        <form class="form-horizontal" method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <table class="table">
                {{ orderitems.management_form }}
                {% for form in orderitems.forms %}
                    {% if forloop.counter == 1 %}
                        <thead>
                            <tr>
                                {% for field in form.visible_fields %}
                                    <th class="{% cycle 'td1' 'td2' 'td3' 'td4' %} order">
                                        {{ field.label|capfirst }}
                                    </th>
                                {% endfor %}
                            </tr>
                        </thead>
                    {% endif %}
                    <tr class="formset_row">
                        {% for field in form.visible_fields %}
                            <td class="{% cycle 'td1' 'td2' 'td3' 'td4' %}">
                                {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                {{ field.errors.as_ul }}
                                {% if field.name == 'price' %}
                                    <span class="orderitems-{{ forloop.parentloop.counter0 }}-price">
                                        {{ field.value }}
                                    </span> руб.
                                {% else %}
                                    {{ field }}
                                {% endif %}
                            </td>
                        {% endfor %}

                    </tr>
                {% endfor %}
            </table>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
    <br>
{% include 'ordersapp/includes/inc_order_actions.html' %}
    </div>
{% endblock %}